<div class="container mt-4">
  <div class="text">
    <h1 class="about">About Me</h1>
    <p>HI, I am Md Asif Karim.</p>
    <p>I am Currently studying in Seneca Polytechnic Art & Technology.</p>
    <p>My student number is 116316233</p>
    <p>You can contact me through this mail - makarim5@myseneca.ca</p>
    <p class="intro-2">
      <b>About this blog-</b> In our fast-paced world, technology has woven
      itself into the very fabric of our daily lives, reshaping how we work,
      connect, and experience the world around us. From smart gadgets that
      simplify our routines to innovative apps that enhance our well-being, the
      interplay between technology and lifestyle has never been more profound.
      In this blog, we explore the latest trends, tools, and insights that
      empower you to harness technology for a more enriching and balanced life.
      Join us as we delve into the exciting ways technology can elevate your
      lifestyle, offering practical tips, product reviews, and thought-provoking
      discussions that inspire you to embrace the future with confidence.
    </p>
  </div>

  <div class="pic">
    <img class="asif" src="/images/Asif.jpg" alt="My Photo" width="250px" />
  </div>
</div>
